.experience {
  &__item {
    aside {
      width: 175px;
    }

    &__logo {
      img {
        width: 120px;
      }
    }

    &__period {
      font-size: 0.9rem !important;
    }

    &__duration {
      font-size: 0.8rem !important;
    }

    &__tags {
      font-size: 0.8rem !important;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}
