.education {
  &__item {
    aside {
      width: 175px;
    }

    &__logo {
      img {
        width: 120px;
      }
    }

    &__period {
      font-size: 0.9rem !important;
    }

    &__city {
      font-size: 0.8rem !important;
    }

    &__ckad {
      img {
        width: 200px;
      }
    }
  }
}
