.education {
  &__item {
    aside {
      width: 165px;
    }

    &__logo {
      img {
        width: 105px;
      }
    }

    &__period {
      margin-top: 8px;
      font-size: 0.6rem !important;
    }

    &__description {
      font-size: 0.9rem !important;
    }

    &__city {
      font-size: 0.8rem !important;
    }

    &__ckad {
      img {
        width: 200px;
      }
    }
  }
}
