<section class="education">
  <h2 class="education__title mb-4">{{ translateService.translate('education') }}</h2>
  @for (item of education; track item.id) {
    <div class="education__item row">
      <aside class="col-6 col-md-auto mb-3 mb-md-0">
        <div class="education__item__logo">
          <img src="{{item.schoolLogo}}" alt="{{item.school}} logo">
        </div>
        <div class="education__item__period">
          {{ item.startDate | date:'MMM yyyy':'':lang }} -
          @if (item.endDate) {
            {{ item.endDate | date:'MMM yyyy':'':lang }}
          }
        </div>
        <div class="education__item__city text-secondary">
          {{ item.city }}
        </div>
      </aside>
      <div class="col-6 col-md px-md-3 mb-3 mb-md-0">
        <h3>{{ item.school }} <span class="text-secondary">{{ item.degree }}</span></h3>
        <div>{{ item.description }}</div>
      </div>
      <div class="col-12 col-md-auto text-end text-md-center education__item__ckad">
        <img src="https://zhooravell.github.io/cv/assets/images/ckad.png" alt="CKAD certificate" class="img-thumbnail">
      </div>
    </div>
  }
</section>
